<div class="container pt-5 pb-5">
    <div class="row">
        <article class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-5 mb-5" *ngFor="let user of users">
            <app-user-card [user]="user"></app-user-card>
        </article>
    </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">ATENCIÓN</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Desea eliminar el usuario {{user?.first_name}} {{user?.last_name}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="deleteUser(user)">Aceptar</button>
            </div>
        </div>
    </div>
</div> -->
<!-- EN ACTUALIZAR HAY QUE AÑADIR EN LA RUTA A newUser LO NECESARIO PARA QUE TE LLEVE POR ID user._id -->