<div class="row">
    <article class="col-12 col-md-6 col-lg-4 mt-5 mb-5" *ngFor="let user of users">
        <div class="card" style="width: 100%;">
            <img src="{{user?.image}}" class="card-img-top" alt="Imagen del rostro del usuario">
            <div class="card-body">
                <h5 class="card-title card-title-small">{{user?.first_name}} {{user?.last_name}}</h5>
                <div class="btn-group " style="width: 100%" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-secondary" for="btnradio1">Ver detalle</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio2">Actualizar</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio3">Borrar</label>
                </div>
            </div>
        </div>
    </article>
</div>