<div *ngIf="user" class="vh-100 d-flex align-items-center justify-content-center">
    <div class="card mb-3 shadow" style="max-width: auto;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{user?.image}}" class="img-fluid rounded-start" alt="imagen del rostro del usuario">
            </div>
            <div class="col-md-8">
                <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
                    <p class="card-title"><strong>Nombre:</strong> {{user?.first_name}}</p>
                    <p class="card-title"><strong>Apellidos:</strong> {{user?.last_name}}</p>
                    <p><strong>Nombre de usuario:</strong> {{user?.username}}</p>
                    <p class="card-title"><strong>Email:</strong> {{user?.email}}</p>
                    <div class="btn-group btn-group-sm" style="width: 100%" role="group"
                        aria-label="Small button group">
                        <button type="button" class="btn btn-outline-dark"
                            (click)="deleteUser(user._id)">Eliminar</button>
                        <button type="button" class="btn btn-outline-dark"
                            [routerLink]="['/updateUser', user._id]">Actualizar</button>
                        <button type="button" class="btn btn-outline-dark" [routerLink]="['/home']">Volver al
                            listado</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>