<div *ngIf="user" class="vh-100 d-flex align-items-center justify-content-center">
    <div class="card mb-3 shadow" style="max-width: auto;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{user?.image}}" class="img-fluid rounded-start" alt="imagen del rostro del usuario">
            </div>
            <div class="col-md-8">
                <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
                    <p class="card-title"><strong>Nombre:</strong> {{user?.first_name}}</p>
                    <p class="card-title"><strong>Apellidos:</strong> {{user?.last_name}}</p>
                    <p><strong>Nombre de usuario:</strong> {{user?.username}}</p>
                    <p class="card-title"><strong>Email:</strong> {{user?.email}}</p>
                    <div class="btn-group btn-group-sm" style="width: 100%" role="group"
                        aria-label="Small button group">
                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"><i class="fa-regular fa-trash-can"></i> Eliminar</button>
                        <button type="button" class="btn btn-outline-dark" [routerLink]="['/updateUser', user._id]"><i
                                class="fa-solid fa-arrows-rotate"></i> Actualizar</button>
                        <button type="button" class="btn btn-outline-dark" [routerLink]="['/home']"><i
                                class="fa-solid fa-users"></i> Volver al
                            listado</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">ATENCIÓN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div *ngIf="!deleted && !deletingError" class="modal-body">
                ¿Desea eliminar el usuario {{ user?.first_name }} {{ user?.last_name }}?
            </div>
            <div *ngIf="deleted" class="modal-body deleted">
                El usuario {{ user?.first_name }} {{ user?.last_name }} ha sido eliminado.
            </div>
            <div *ngIf="deletingError" class="modal-body deleted">
                Se ha producido un error: {{errorMessage}}
            </div>

            <div class="modal-footer">
                <button *ngIf="!deletingError && !deleted" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"
                    [attr.data-bs-dismiss]="deleted || deletingError? 'modal' : null"
                    [routerLink]="deleted || deletingError? ['/home'] : null"
                    (click)="deleteUser(user._id)">Aceptar</button>
            </div>
        </div>
    </div>
</div>