<div class="formContainer vh-100 d-flex flex-column align-items-center justify-content-center" style="width: 500px;">
    <div>
        <h1 *ngIf="!actualizando; else actualizar">NUEVO USUARIO</h1>
        <ng-template #actualizar>
            <h1>ACTUALIZAR USUARIO</h1>
        </ng-template>
    </div>

    <hr>
    <div class="contenido" style="width: 100%;">
        <form [formGroup]="miFormulario" (ngSubmit)="recogerDatosForm()">
            <div class="my-2">
                <label class="form-label" for="first_name">Nombre Usuario(*)</label>
                <input class="form-control" id="first_name" type="text" formControlName="first_name">
                <p class="error" *ngIf="checkControl('first_name', 'required')">
                    Introduzca el nombre del usuario</p>

            </div>
            <div class="my-2">
                <label class="form-label" for="last_name">Apellidos Usuario(*)</label>
                <input class="form-control" id="last_name" type="text" formControlName="last_name">
                <p class="error" *ngIf="checkControl('last_name', 'required')">
                    Introduzca los apellidos del usuario</p>


            </div>
            <div class="my-2">
                <label class="form-label" for="email">Email Usuario(*)</label>
                <input class="form-control" id="email" type="email" formControlName="email">
                <p class="error" *ngIf="checkControl('email', 'required')">
                    Introduzca el email del usuario</p>
                <p class="error" *ngIf="checkControl('email', 'pattern')">
                    Introduzca un email válido</p>
                <p class="error" *ngIf="actualizando? checkControl('email', 'email'): null">
                    Introduzca un email válido</p>
            </div>
            <div class="my-2">
                <label class="form-label" for="image">Imagen Usuario (*)</label>
                <input class="form-control" id="image" type="text" formControlName="image">
                <p class="error" *ngIf="checkControl('image', 'required')">
                    Introduzca una image con la imagen del usuario</p>
                <p class="error" *ngIf="checkControl('image', 'pattern')">
                    Introduzca una url válida</p>
            </div>
            <input type="submit"
                [value]='actualizando? (miFormulario.valid? "Actualizar": "Rellene el formulario") : (miFormulario.valid?"Guardar": "Rellene el formulario")'
                [class]='(miFormulario.valid?"btn btn-primary" : "btn btn-secondary")' [disabled]="miFormulario.invalid"
                data-bs-toggle="modal" data-bs-target="#exampleModal">
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">ATENCIÓN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div *ngIf="createdUser" class="modal-body deleted">
                El usuario {{ user?.first_name }} {{ user?.last_name }} ha sido creado con el id {{user?.id}}.
            </div>
            <div *ngIf="creatingUserError" class="modal-body deleted">
                Se ha producido un error: {{errorCreatingMessage}}
            </div>
            <div *ngIf="updatedUser" class="modal-body deleted">
                El usuario {{ user?.first_name }} {{ user?.last_name }} ha sido actualizado correctamente.
            </div>
            <div *ngIf="updatingUserError" class="modal-body deleted">
                Se ha producido un error: {{errorCreatingMessage}}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss='modal'
                    [routerLink]="updatedUser? ['/home'] : null">Aceptar</button>
            </div>
        </div>
    </div>
</div>